/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
composer.lock
package-lock.json
/public/mix-manifest.json
/public/robots.txt
_ide_helper.php
/public/vendor
.phpstorm.meta.php
