table {
    .table-col-id {
        width: 20px;
        text-align: center;
    }

    .table-col-repeat {
        width: 120px;
        text-align: center;
    }

    .table-col-status {
        width: 80px;
        text-align: center;
    }

    .table-col-actions {
        width: 150px;
        text-align: center;
    }

    .table-col-actions-100 {
        width: 100px;
        text-align: center;
    }

    .table-col-actions-200 {
        width: 200px;
        text-align: center;
    }
}
